body {
    padding: 0;
}

header {
    color: white;
    background-color: #101111;
    display: block;
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

ul {
    padding-bottom: 20px;
    margin-top:10px;
}

h5 {
    font-size: 25px;
}

.bd-sidebar {
    background-color: #f8f9fa;
    padding: 20px;
}

#button-addon2 {
    background-color: #007bff;
}

#row {
    margin-left: -100px;    
}

.col-sm {
    background-color: #007bff;;
    color: white;
    padding: 10px;
    border-radius: 0.25rem;
    margin: 10px;
}

#left-div {
    min-height: 500px;
}

@media (max-width: 1288px) {
    .forecast {
        max-width: 185px;
        padding: 10px;
    }
}

@media (max-width: 375px) {
    .forecast {
        max-width: 500px;
        padding: 5px;
    }
}